@import "../../_globalColor.scss";

.main-button {
  background-color: $primaryColor;
  border: none;
  color: $textColorDark;
  font-weight: 600;
  width: max-content;
  padding: 15px 30px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-button:hover {
  background-color: darken($primaryColor, 10%);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.project-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-button > .main-button {
  margin-right: 0 !important;
}

/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 0.9rem;
    padding: 12px 25px;
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  .main-button {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
