@import "../../_globalColor.scss";

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greeting-main {
  display: flex;
  align-items: center;
}

.greeting-text-div {
  flex: 1;
}

.greeting-text {
  font-size: 4rem;
  font-weight: 600;
  color: $titleColor;
  animation: fadeIn 1s ease-in-out;
}

.greeting-text-p {
  font-size: 1.5rem;
  font-weight: 300;
  color: $textColor;
  margin-top: 20px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}

.greeting-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-image-div img {
  max-width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 3.5rem;
  }
  .greeting-text-p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .greeting-main {
    flex-direction: column;
  }
  .greeting-text-div {
    text-align: center;
    margin-bottom: 40px;
  }
  .greeting-text {
    font-size: 2.5rem;
  }
  .greeting-text-p {
    font-size: 1rem;
  }
  .button-greeting-div {
    justify-content: center;
  }
}
